<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container col-sm-10">
<form class="p-6" align="center" action="./api/tasks" method = "POST">
<h2> Adicionar Atividade </h2>
    <div class="form-group">
        <input
            class="form-control p-4"
            name="tarefa"
            placeholder="Insira atividade"
        />
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>


<div class="container-fluid row">

{%for tarefa in task %}
{%if tarefa.done %}


  <div class="card col-md-4" style="width: 18rem;">
  <form class="p-6" align="center" action="./api/tasks/{{tarefa._id}}?_method=PUT" method = "POST">
    <div class="card-body">
      <h5 class="card-title text-success">{{tarefa.tarefa}}</h5>
      <h6 class="text-text-success">Status: Completa</h6>
      <button type="submit" class="btn btn-primary" name="done" value={{false}}>Desfazer</button>
      </div>
  </form>

  </div>

  {%endif%}

{%if tarefa.done ==false%}

  <div class="card col-md-6" style="width: 18rem;">
  <form class="p-6" align="center" action="./api/tasks/{{tarefa._id}}?_method=PUT" method = "POST">
    <div class="card-body">
      <h5 class="card-title text-danger">{{tarefa.tarefa}}</h5>
      <h6 class="text-danger">Status: Incompleta</h6>
      <button type="submit" class="btn btn-danger" name="done" value={{true}}>Completar</button>
      </div>
  </form>
  </div>

  {%endif%}


{%endfor%}
</div>